
.section {
    display: flex;
    align-items: center;
    /* border-bottom-width: 2px; */
    max-height: 100%; 
    max-width: 100%; 
    /* min-width: 100px; */
    cursor: pointer;
    /* color: gray; */
    outline: none;
    object-fit: contain; 
    border-width: 0 !important;
}

.section--selected {
    background-color: whitesmoke;
    border-width: 5px !important;
}

.section:hover {
    background-color: rgb(221, 216, 255);
    border-width: 5px !important;
}


 .animated-images img{
    object-fit: contain; 
    max-width: 100%; 
    max-height: 100%; 
    }

.animated-images img:last-child{
    display: none;
}
.animated-images img:first-child{
    display:block;
}
.animated-images:hover img:last-child{
    display:block;
}
.animated-images:hover img:first-child{
    display: none;
}




